body {
    margin: 0.2%;
    padding: 0;
    overflow: hidden;
}
.navbar_box{
    margin: 0.2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3dvh;
    background-color: #f4f0ec ;
    border: solid 3px;
    border-radius: 10px;   
    /* overflow: hidden; */
    p{
        margin: 0;
        font-size: 1rem;
        color: black;
    }
    img{
        height: 2dvh;
        width: 2.5dvh;
    }
}
.logo img{
    
    height: 9dvh;
    width: 9dvh;
    border: solid 3px;
    border-radius: 5dvh;
    /* overflow: hidden; */
    /* width: 100%;
    height: auto; */
}
.navbar_box2{
    margin: 0.2%;
    padding-top: 0.3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #191918;
    border: solid 3px;
    border-radius: 1vw;    
    
    
    /* overflow: hidden; */
    
    .search_box{
        border: solid 1px;
        height: 3dvh;
        width: 175px;
        border-radius: 5px;
        box-shadow: black 2px 2px;
    }
    input{
        border: none;
        border-radius: 5px;
        /* padding: 0.5rem; */
        height: 3dvh;
        width: 150px;
    }
    a{
        color:black;
    }
}
a{
    text-decoration: none;
}

.track_order{
    height: 4dvh;
    width: 18dvh;
    border: solid 1px slategray;
    border-radius: 5px; 
    text-align: center;
    padding-top: 1rem ;
    box-shadow: black 2px 2px;
    background-color: #f4f0ec;
}

.track_order:hover, .cart:hover, .login:hover{
    background-color: #d3d3d3;
}

.cart{
    height: 4dvh;
    width: 10dvh;
    border: solid 1px slategray;
    border-radius: 5px;
    text-align: center;
    padding-top: 1rem ;
    box-shadow: black 2px 2px;
    background-color: #f4f0ec;
}
.login{
    height: 4dvh;
    width: 10dvh;
    border: solid 1px slategray;
    border-radius: 5px;
    text-align: center;
    padding-top: 1rem ;
    box-shadow: black 2px 2px;
    background-color: #f4f0ec;
}   
.nav2{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3dvh;
    background-color: white ;
    border: solid 3px;
    border-radius: 10px;
    a{
            color: black;
            text-decoration: none;
    }
    
    a.active,a:hover{
            text-align: center;
            background-color: #ffd300 ;
            width: 18dvh;
            border-radius: 7px;
            margin: 0.2%;
            }
    }
.banner{
    padding-top: 0.3%;
    img{
        width: auto;
        height:auto;
        }
    }

 